.btn {
  align-items: center;
  justify-content: center;
}

.btn-profile {
  color: #fff;
  background-color: lightseagreen;
}

.btn-profile:hover {
  background-color: #0c938c;
}

.invalidDiv {
  /* background-color: rgb(223, 131, 131); */
  /* margin: 10px; */
  padding: 10px;
  border-radius: 5px;
  background-color: lightpink;
  color: chocolate;
  align-items: center;
}

.loggedInUserId {
  font-size: 35px;
  font-weight: 600;
  color: #24a0ed;
}
